{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Önümlerimiz" %}{% endblock title %}


{% block content %}

<!-- Main Content -->
<section class="bg-light">
    <div class="container pb-5" style="padding-left: 10vw; padding-right:10vw">
        <div class="row">
            <!--PRODUCT MAIN IMAGE AND IMAGES CAROUSEL-->
            <div class="col-lg-3 mt-5">
                <!--Product MAIN IMAGE-->
                <div class="card mb-3">
                    <img class="card-img" src="{{object.images.all.first.image.url}}" alt="{{object.title}}"
                        id="product-detail">
                </div>
                <!--END of Product MAIN IMAGE-->

                <!--PRODUCT IMAGES Carousel-->
                <div class="row">
                    <!--Start Controls-->
                    {% if images_album_by_three|length > 1 %}
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="fas fa-chevron-left jeytun-yellow"></i>
                            <span class="sr-only">{% trans "Previous" %}</span>
                        </a>
                    </div>
                    {% endif %}
                    <!--End Controls-->

                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">
                            {% for img_list in images_album_by_three %}
                                {% if forloop.counter == 1 %}
                                <div class="carousel-item active">
                                {% else %}
                                <div class="carousel-item">
                                {% endif %}
                                <div class="row">
                                    {% for img in img_list %}
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="{{img.image.url}}" alt="{{img.product}}">
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Start Controls-->
                    {% if images_album_by_three|length > 1 %}
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="fas fa-chevron-right jeytun-yellow"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% endif %}
                    <!--End Controls-->
                </div>
                <!--ENG PRODUCT IMAGES Carousel-->
            </div>
            <!--END of PRODUCT MAIN IMAGE AND IMAGES CAROUSEL-->
            
            <!--Product Specifications-->
            <div class="col-lg-9 mt-5">
                <div class="card">
                    <div class="card-body">
                        {% if LANGUAGE_CODE == "tk" %}
                            <h1 class="h2">{{ product.title }}</h1>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Brand" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>Jeýtun</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Category" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.category.name }}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Cloth Article" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.cloth_article }}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Availables Color" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.color}}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Availables Sizes" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.sizes}}</strong></p>
                                </li>
                            </ul>
                            {% if product.description %}
                                <h6>{% trans "Description" %}:</h6>
                                <p>{{ product.description }}</p>
                            {% endif %}
                        {% elif LANGUAGE_CODE == "en" %}
                            <h1 class="h2">{{ product.title_en }}</h1>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Brand" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>Jeýtun</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Category" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.category.name_en }}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Cloth Article" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.cloth_article }}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Availables Color" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.color}}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Availables Sizes" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.sizes}}</strong></p>
                                </li>
                            </ul>
                            {% if product.description %}
                                <h6>{% trans "Description" %}:</h6>
                                <p>{{ product.description }}</p>
                            {% endif %}
                        {% else %}
                            <h1 class="h2">{{ product.title_ru }}</h1>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Brand" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>Jeýtun</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Category" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.category.name_ru }}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Cloth Article" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.cloth_article }}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Availables Color" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.color}}</strong></p>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>{% trans "Availables Sizes" %}:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.sizes}}</strong></p>
                                </li>
                            </ul>
                            {% if product.description %}
                                <h6>{% trans "Description" %}:</h6>
                                <p>{{ product.description }}</p>
                            {% endif %}
                        {% endif %}
                        
                        {% comment %} <p class="py-2">
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
                        </p>
                    
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Avaliable Color :</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>White / Black</strong></p>
                            </li>
                        </ul>

                        <h6>Specification:</h6>
                        <ul class="list-unstyled pb-3">
                            <li>Lorem ipsum dolor sit</li>
                            <li>Amet, consectetur</li>
                            <li>Adipiscing elit,set</li>
                            <li>Duis aute irure</li>
                            <li>Ut enim ad minim</li>
                            <li>Dolore magna aliqua</li>
                            <li>Excepteur sint</li>
                        </ul> {% endcomment %}

                    </div>
                </div>
            </div>
            <!--END of Product Specifications-->
        </div>
    </div>
</section>
<!-- END of Main Content -->

{% block js %}
<!-- Start Slider Script -->
<script src="{% static 'js/slick.min.js' %}"></script>
<script>
    $('#carousel-related-product').slick({
        infinite: true,
        arrows: false,
        slidesToShow: 4,
        slidesToScroll: 3,
        dots: true,
        responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            }
        ]
    });
</script>
<!-- End Slider Script -->
{% endblock js %}

{% endblock content %}