{% extends 'base_trial.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Önümlerimiz" %}{% endblock title %}


{% block content %}

<div class="row container-xxl mx-auto px-0">
	<aside class="col-lg-2">
		<div class="card">
			{% include "products/components/product_filter_accordion.html" %}
		</div> <!-- card.// -->
	</aside>

	<div class="col-lg-10">
		<header class="border-bottom mb-4 pb-3">
			<div class="form-inline">
				<span class="mr-md-auto">32 Items found </span>
				<select class="mr-2 form-control">
					<option>Latest items</option>
					<option>Trending</option>
					<option>Most Popular</option>
					<option>Cheapest</option>
				</select>
			</div>
		</header><!-- sect-heading -->

		{% include "products/components/product_list_elements.html" %}
	</div>
</div>

{% endblock content %}