{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Önümlerimiz" %}{% endblock title %}


{% block content %}

<!-- Main Content -->
<div class="container py-5">
	<div class="row">
		<!--Category SideBar Accordion section-->
		<div class="col-lg-3">
			<h2 class="pb-4 m-auto text-center jeytun-yellow">{% trans "Categories" %}</h2>
			<div class="accordion accordion-flush" id="accordionCategory">
				{% for category in categories %}
				{% if LANGUAGE_CODE == "tk" %}
				<div class="accordion-item border-0">
					<h2 class="accordion-header" id="flush-heading-{{ category.slug }}">
						<button class="accordion-button collapsed h3 jeytun-green" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ category.slug }}" aria-expanded="false" aria-controls="flush-collapse-{{ category.slug }}">
							{{ category.name }}
						</button>
					</h2>
					<div id="flush-collapse-{{ category.slug }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ category.slug }}" data-bs-parent="#accordionCategory">
						<div class="accordion-body">
							<div class="accordion-body">
								{% for product in category.products.all %}
								{% if forloop.counter < 5 %}
								<p>
									<a class="text-decoration-none ms-3 text-cyprus" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
								</p>
								{% endif %}
								{% endfor %}
								<p>
									<a class="text-decoration-none ms-3 text-cyprus" href="{{ category.get_absolute_url }}">{% trans "See all" %}</a>
								</p>
							</div>
						</div>
					</div>
				</div>

				{% elif LANGUAGE_CODE == "en" %}
				<div class="accordion-item border-0">
					<h2 class="accordion-header" id="flush-heading-{{ category.slug }}">
						<button class="accordion-button collapsed h3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ category.slug }}" aria-expanded="false" aria-controls="flush-collapse-{{ category.slug }}">
							{{ category.name_en }}
						</button>
					</h2>
					<div id="flush-collapse-{{ category.slug }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ category.slug }}" data-bs-parent="#accordionCategory">
						<div class="accordion-body">
							{% for product in category.products.all %}
							{% if forloop.counter < 5 %}
							<p>
								<a class="text-decoration-none ms-3 text-cyprus" href="{{ product.get_absolute_url }}">{{ product.title_en }}</a>
							</p>
							{% endif %}
							{% endfor %}
							<p>
								<a class="text-decoration-none ms-3 text-cyprus" href="{{ category.get_absolute_url }}">{% trans "See all" %}</a>
							</p>
						</div>
					</div>
				</div>

				{% else %}
				<div class="accordion-item border-0">
					<h2 class="accordion-header" id="flush-heading-{{ category.slug }}">
						<button class="accordion-button collapsed h3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ category.slug }}" aria-expanded="false" aria-controls="flush-collapse-{{ category.slug }}">
							{{ category.name_ru }}
						</button>
					</h2>
					<div id="flush-collapse-{{ category.slug }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ category.slug }}" data-bs-parent="#accordionCategory">
						<div class="accordion-body">
							{% for product in category.products.all %}
							{% if forloop.counter < 5 %}
							<p>
								<a class="text-decoration-none ms-3 text-cyprus" href="{{ product.get_absolute_url }}">{{ product.title_ru }}</a>
							</p>
							{% endif %}
							{% endfor %}
							<p>
								<a class="text-decoration-none ms-3 text-cyprus" href="{{ category.get_absolute_url }}">{% trans "See all" %}</a>
							</p>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<!--END Category SideBar Accordion section-->

		<!--PRODUCTS DISPLAY SECTION-->
		<div class="col-lg-9">
			<!--Product Display section-->
			<div class="row">
				{% comment %} <h2 class="h2 jeytun-yellow">{% trans "Products" %}</h2> {% endcomment %}
				{% for product in page_obj.object_list %}
				<div class="col-md-3 mb-3">
					<div class="card h-100 mb-4 product-wap rounded-0">
						<div class="card rounded-0">
							<img src="{{product.images.first.image.url}}" alt="{{img.product}}" class="card-img rounded-0 img-fluid">
							<div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
								<ul class="list-unstyled">
									<li>
										<a class="btn mt-2 product-eye-button" href="{{ product.get_absolute_url }}"><i class="far fa-eye"></i></a>
									</li>
								</ul>
							</div>
							</a>
						</div>
						<div class="card-body">
							{% if LANGUAGE_CODE == "tk" %}
							<a href="{{product.get_absolute_url}}" class="h3 text-decoration-none">{{product.title}}</a>
							{% elif LANGUAGE_CODE == "en" %}
							<a href="{{product.get_absolute_url}}" class="h3 text-decoration-none">{{product.title_en}}</a>
							{% else %}
							<a href="{{product.get_absolute_url}}" class="h3 text-decoration-none">{{product.title_ru}}</a>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<!--END of Product Display section-->

			<!--Pagination-->
			{% if page_obj.paginator.num_pages > 1 %}
			<div class="row mt-2">
				<ul class="pagination pagination-lg justify-content-end">
					{% if page_obj.has_previous and page_obj.has_next %}
					<li class="page-item">
						<a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 " href="?page=1">1</i></a>
					</li>
					<li class="page-item">
						<a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 " href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
					</li>
					<li class="page-item disabled">
						<a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
					</li>
					<li class="page-item">
						<a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 " href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
					</li>
					<li class="page-item">
						<a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 " href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
					</li>
					{% endif %}

					{% if page_obj.has_previous and not page_obj.has_next %}
					<li class="page-item">
						<a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 " href="?page=1">1</i></a>
					</li>
					<li class="page-item">
						<a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 " href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-chevron-left"></i></a>
					</li>
					<li class="page-item disabled">
						<a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
					</li>
					{% endif %}

					{% if page_obj.has_next and not page_obj.has_previous %}
					<li class="page-item disabled">
						<a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
					</li>
					<li class="page-item">
						<a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 " href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-chevron-right"></i></a>
					</li>
					<li class="page-item">
						<a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 " href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
					</li>
					{% endif %}
				</ul>
			</div>
			{% endif %}
			<!--END of Pagination-->
		</div>
		<!--END OF PRODUCTS DISPLAY SECTION-->
	</div>
</div>
<!-- End Content -->

<!-- Start Categories -->
<section class="bg-jeytun-light py-5 ">
	<div class="container my-4">
		<div class="row text-center py-3">
			<div class="col-lg-6 m-auto">
				<h1 class="h1 jeytun-yellow">{% trans "Our Categories" %}</h1>
				<p>
					{% trans "Here you can find out about out other product categories." %}
				</p>
			</div>
			<div class="col-lg-9 m-auto tempaltemo-carousel">
				<div class="row d-flex flex-row">
					<!--Controls-->
					<div class="col-1 align-self-center">
						<a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
							<i class="fas fa-chevron-left jeytun-yellow"></i>
						</a>
					</div>
					<!--End Controls-->

					<!--Carousel Wrapper-->
					<div class="col">
						<div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
							<!--Slides-->
							<div class="carousel-inner">
								{% for four_categories in categories_by_four %}
									{% if forloop.counter == 1 %}
									<div class="carousel-item active">
									{% else %}
									<div class="carousel-item">
										{% endif %}
										<div class="row">
											{% for category in four_categories %}
											<div class="col-3 p-md-5">
												<a href="{{ category.get_absolute_url }}">
													<img class="img-fluid brand-img" src="{{ category.image.url }}" alt="{{category}}">
												</a>
												{% if LANGUAGE_CODE == "tk" %}
												<a href="{{category.get_absolute_url}}" class="text-decoration-none text-cyprus">
													<small>{{category.name }}</small>
												</a>
												{% elif LANGUAGE_CODE == "en" %}
												<a href="{{category.get_absolute_url}}" class="text-decoration-none text-cyprus">
													<small>{{category.name_en }}</small>
												</a>
												{% else %}
												<a href="{{category.get_absolute_url}}" class="text-decoration-none text-cyprus">
													<small>{{category.name_ru }}</small>
												</a>
												{% endif %}
																	
											</div>
											{% endfor %}
										</div>
									</div>
								{% endfor %}
								<!--End First slide-->
							</div>
							<!--End Slides-->
							</div>
						</div>
						<!--End Carousel Wrapper-->

						<!--Controls-->
						<div class="col-1 align-self-center">
							<a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
								<i class="fas fa-chevron-right jeytun-yellow"></i>
							</a>
						</div>
						<!--End Controls-->
					</div>
				</div>
			</div>
		</div>
</section>
<!--End Categories-->

{% endblock content %}