{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}



<div id="cart-checkout-details" class="col-md-5 col-lg-4 order-md-last">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        Cart Details
    </h4>
    <ul class="list-group mb-3">
        {% for item in cart.cart_items.all %}
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0">{{item.product.title}}</h6>
                <small class="text-muted">{% trans "Quantity" %}: {{ item.quantity }}</small>
            </div>
            <span class="text-muted">{{item.sub_total}} m.</span>
        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
            <span>TOTAL</span>
            <strong>{{ cart.total_price }} m.</strong>
        </li>
    </ul>
    <button class="btn btn-primary w-100">{% trans "Order" %}</button>
</div>
