{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">
	<div class="py-5 text-center">
		<h2>{% trans "Your cart is empty" %}</h2>
		<p class="lead">
			{% trans "Seems that you have not added anything to your cart. Please add the products to the cart." %}
		</p>
		<div>
			<button class="navbar-brand m-2 p-2 btn btn-evvoli-pink rounded-5"
			hx-get="{% url "products:home" %}" 
			hx-swap="outerHTML" 
			hx-trigger="click delay:500ms"
			hx-target="#main-body"
			hx-throttle="500ms"
			hx-push-url="{% url "products:home" %}"
			hx-indicator="#spinner">
				{% trans "Home Page" %}
			</button>
		</div>
	</div>
</div>
