{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}



<main class="container">
	<div class="py-5 text-center">
		<h2>{% trans "Checkout form" %}</h2>
		<p class="lead">
			{% trans "Kindly fill out the checkout form below to conclude your order. We are dedicated to ensuring the most efficient and timely delivery service for your convenience." %}
		</p>
	</div>

	<div class="row g-5">

		<!--Cart Checkout Details -->
		<div id="cart-checkout-details" class="col-md-5 col-lg-4 order-md-last">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				{% trans "Order Details" %}
			</h4>
			<ul class="list-group mb-3">
				{% for item in cart.cart_items.all %}
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 pointer-cursor"
						hx-get="{% url "products:product_detail" category_slug=item.product.category.slug slug=item.product.slug %}"
						hx-swap="innerHTML" 
						hx-trigger="click delay:0.5s"
						hx-throttle="1s"
						hx-target="#main-body"
						hx-indicator="#spinner"
						hx-push-url="{% url "products:product_detail" category_slug=item.product.category.slug slug=item.product.slug %}">
							{% if LANGUAGE_CODE == "tk" %}
							{{item.product.title}}
							{% elif LANGUAGE_CODE == "en" %}
							{{item.product.title_en}}
							{% else %}
							{{item.product.title_ru}}
							{% endif %}
						</h6>
						<p class="my-0"><small class="text-muted">{% trans "Model" %}: {{ item.product.model }}</small></p>
						<small class="text-muted">{% trans "Quantity" %}: {{ item.quantity }}</small>
					</div>
					<span class="text-muted">{{item.sub_total}} m.</span>
				</li>
				{% endfor %}
				<li class="list-group-item d-flex justify-content-between">
					<span>{% trans "TOTAL" %}</span>
					<strong>{{ cart.total_price }} m.</strong>
				</li>
			</ul>
		</div>
		<!--Cart Checkout Details -->

        <!--Order Form -->
		<div class="col-md-7 col-lg-8">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="evvoli-pink">{% trans "Your Order" %}</span>
				<span id="cartTotalQty" class="badge evvoli-bg-pink rounded-pill">{% trans "No. of products" %}: {{ cart.total_quantity }}</span>
			</h4>
			<form method="POST" class="list-group mb-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn evvoli-btn-secondary rounded-5">{% trans "Checkout" %}</button>
            </form>    
		</div>
		<!--Order Form -->
	</div>
</main>
