{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load humanize %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


{% block title %}
{% if product %}{{ product.title }}{% else %}{% trans "Product details" %}{% endif %}
{% endblock %}

{% block content %}

<div id="product-detail-div" class="container-xxl mb-3">

  <div class="row g-3">

    <!--Details of Products, ADD to CARD, ADD to WISHLIST-->
    <div class="col-md-5 ps-3 col-lg-5 order-md-last p-0 order-1">
      <div class="d-grid gap-2">
        <div>
            <p class="h4">
              {% if LANGUAGE_CODE == "tk" %}
              {{product.title}}
              {% elif LANGUAGE_CODE == "en" %}
              {{product.title_en}}
              {% else %}
              {{product.title_ru}}
              {% endif %}
            </p>
            <p>{% trans "Model" %}: <span>{{product.model}}</span></p>
            <p class="fw-bold">{% trans "Product Specifications" %}:</p> 
            <p class="">
              {% if LANGUAGE_CODE == "tk" %}
              {{product.description|linebreaksbr }}
              {% elif LANGUAGE_CODE == "en" %}
              {{product.description_en|linebreaksbr }}
              {% else %}
              {{product.description_ru|linebreaksbr }}
              {% endif %}
            </p>
        </div>

        <div class="d-flex d-flex-inline justify-content-between">
            <div class="price-wrap mt-1 h3">
                <span class="price">{{product.sale_price}} {% trans "m." %}</span>
                {% if product.on_sale %}
                <del class="price-old">{{product.price}} {% trans "m." %}</del>
                {% endif %}
            </div>
        </div>
        <hr>

          <!--CART BUTTONS-->
          <button type="button" id="add-btn" class="btn btn-evvoli-add col-lg-6 fw500 rounded-5" data-url='{% url "orders:add_to_cart" slug=product.slug %}' data-cart-qty='{{ request.session.cart_qty|default:0 }}' data-product-qty='{{ product_qty_in_cart|default:0 }}'>
            {% trans "Add to Cart" %}
          </button>
          <div id="d-none-div" 
          class="d-flex col-lg-6 align-items-center justify-content-around btn-evvoli-pink rounded-5">
            <p id="d-none-minus-btn" class="my-2 pointer-cursor" data-url='{% url "orders:remove_from_cart" slug=product.slug %}'><i class="fa-solid fa-minus"></i></p>
            <p id="d-none-product-qty" class="my-2">{{ product_qty_in_cart|default:0  }}</p>
            <p id="d-none-plus-btn" class="my-2 pointer-cursor" data-url='{% url "orders:add_to_cart" slug=product.slug %}'><i class="fa-solid fa-plus"></i></p> 
          </div>
          <!--END OF CART BUTTONS-->

      </div>
    </div>
    <!--END OF Details of Products, ADD to CARD, ADD to WISHLIST-->


    <!--Product Images and Video-->
    <div class="col-md-7 col-lg-7 p-0">
      <div class="card mb-3 border-0 text-center">
        <div class="row g-0">
          <div class="col-md-12">

            <div class="card-body p-1">
              {% if product.type %}
              <p class="title h3 text-bold evvoli-pink">
                {% if LANGUAGE_CODE == "tk" %}
                {{product.type}} <span class="h2">{{product.title}}</span>
                {% elif LANGUAGE_CODE == "en" %}
                {{product.type_en}} <span class="h2">{{product.title_en}}</span>
                {% else %}
                {{product.type_ru}} <span class="h2">{{product.title_ru}}</span>
                {% endif %}	
              </p>
              {% else %}
              <h1 class="mb-0 h2 pe-4 pb-4">
                {% if LANGUAGE_CODE == "tk" %}
                {{product.title}}
                {% elif LANGUAGE_CODE == "en" %}
                {{product.title_en}}
                {% else %}
                {{product.title_ru}}
                {% endif %}
              </h1>
              {% endif %}

              <div class="mb-0 text-center pe-4 pb-4">

                <!--START of <div class="card card-product-grid text-center">-->
                <div class="card card-product-grid text-center">

                  <!--Product Main Image or Video-->
                  <div id="product-main-image-wrap" class="text-center">
                    {% if product.video %}
                    <div id="product-main-image" class="container mt-3">
                      <div class="row">
                          <div class="col">
                              <video class="video-player w-100" controls>
                                  <source src="{{ product.video.url }}" type="video/mp4">
                                  Your browser does not support the video tag.
                              </video>
                          </div>
                      </div>
                    </div>
                    {% else %}
                    <img id="product-main-image" class="image-fluid mx-auto d-block" alt="{% trans 'product image' %}" src="{{ product.image.url}}" alt="{{ product.title }}">
                    {% endif %}
                  </div>
                  <!--End Product Main Image or Video-->

                  <!--Start of <div id="product-image-video-thumbnails">-->
                  <div id="product-image-video-thumbnails">
                    <!--Product Images-->
                    {% for image in product.images.all %}
                    <img id="{{image.id}}" class="other-images img-fluid d-block-inline pt-3" width="100px" alt="Responsive image" src="{{ image.thumbnail.url }}" alt="{{ image.image.alt_text }}" 
                    hx-get="{% url "products:product_main_image" category_slug=product.category.slug slug=product.slug %}?product_id={{ product.id }}&image_id={{image.id}}"
                    hx-trigger="click"
                    hx-target="#product-main-image"
                    hx-swap="outerHTML">
                    {% endfor %}

                    <img id="{{image.id}}" class="other-images img-fluid d-block-inline pt-3" width="100px" alt="Responsive image" src="{{ product.image.url}}" alt="{{ product.title}}" 
                    hx-get="{% url "products:product_main_image" category_slug=product.category.slug slug=product.slug %}?product_id={{ product.id }}"
                    hx-trigger="click"
                    hx-target="#product-main-image"
                    hx-swap="outerHTML">
                    <!--END of Product Images-->
                    
                    <!--Product Video-->
                    {% if product.video %}
                    <div class="container mt-3">
                      <div class="row">
                          <div class="col">
                            <video class="video-thumbnail" width="100"
                              hx-get="{% url 'products:product_video' slug=product.slug %}"
                              hx-trigger="click"
                              hx-target="#product-main-image"
                              hx-swap="outerHTML">
                              <source src="{{ product.video.url }}" type="video/mp4">
                              Your browser does not support the video tag.
                            </video>
                          <div>
                      </div>
                    </div>
                    {% endif %}
                    <!--End Product Video-->

                  </div>  
                  <!--END of <div id="product-image-video-thumbnails">-->

                </div>
                <!--END of <div class="card card-product-grid text-center">-->
                 
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
    <!--END OF Product Images-->

  </div>
</div>
</div>
</div>

<script type="text/javascript">
  var csrfToken = '{{ csrf_token }}';
</script>
<script src='{% static "js/cart_async_post.js" %}'></script>
 <!-- END of <div id="product-detail-div" class="container-xxl mb-3"> -->

{% endblock content %}



