{% extends 'base.html' %}
{% load static i18n %}


{% block title %}{% trans "Page Not Found" %}{% endblock title %}


{% block content %}

    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span>{% trans "Page not found." %}</p>
            <p class="lead">
                {% trans "The page you’re looking for doesn’t exist." %}
            </p>
            <a href="{% url 'products:home' %}" class="btn btn-primary">{% trans "Go Home" %}</a>
        </div>
    </div>

{% endblock content %}
