{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!-- Category list using htmx-->
<div id="category-list-elements" class="container marketing">

	{% for category in page_obj %}

    {% if forloop.last and forloop.counter|divisibleby:2  and page_obj.has_next %}
	<div class="row featurette" 
    hx-get="{% url 'products:home' %}?page={{ page_obj.number|add:1 }}" 
    hx-trigger="revealed" 
	hx-swap="beforeend"
	hx-target="#category-list-elements">
    {% include "./single_category_even.html" %}

    {% elif forloop.last and page_obj.has_next %}
    <div class="row featurette" 
    hx-get="{% url 'products:home' %}?page={{ page_obj.number|add:1 }}" 
    hx-trigger="revealed" 
    hx-swap="afterend">
    {% include "./single_category_odd.html" %}

    {% elif forloop.counter|divisibleby:2 %}
    <div class="row featurette">
    {% include "./single_category_even.html" %}

	{% else %}
	<div class="row featurette">
    {% include "./single_category_odd.html" %}
    {% endif %}
    
    </div>
	{% endfor %}

</div>
