<!-- Start Footer -->
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div id="footerContainer" class="bg-black mt-3">
  <div class="container">
    <footer class="py-3 text-light">
      <p id="footerHeader" class="text-center text-light my-3">{% trans "Evolve for life" %}</p>
      <ul class="nav justify-content-center my-3">
        {% for category in categories %}
            <li class="nav-item">
                <a href="{% url 'products:category_list' category_slug=category.slug %}" class="nav-link px-2 footerLink">
                    {% if LANGUAGE_CODE == "tk" %}
                    {{category.name}}
                    {% elif LANGUAGE_CODE == "en" %}
                    {{category.name_en}}
                    {% else %}
                    {{category.name_ru}}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        <li class="nav-item">
          <a id="navnar-about" class="nav-link px-2 footerLink" aria-current="page"
							hx-get="{% url 'products:about' %}"
							hx-swap="innerHTML" 
							hx-trigger="click delay:500ms" 
							hx-target="#main-body"
							hx-throttle="1s"
							hx-push-url="{% url 'products:about' %}"
							hx-indicator="#spinner">
								{% trans "About Us" %}
          </a>
      </li>
      </ul>
      <ul class="nav justify-content-center my-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light"><i class="fa-brands fa-tiktok"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
      <div id="footer-copy-google-play">
        <p class="text-center text-light">&copy; {% trans "2023 Evvoli Turkmenistan. All rights reserved." %}</p>
        <div id="google-play-badge">
          <a href="https://play.google.com/store/apps/details?id=your.package.name" target="_blank">
              <img src="{% static "img/google-play-badge.png" %}" alt="Get it on Google Play" />
          </a>
        </div>
      </div>
    </footer>
  </div>
</div>

<script>
  // Function to scroll to the top of the document
  function footerTopFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
  }

  // Get all the buttons with the class 'footerLink'
  var footerLinks = document.querySelectorAll(".footerLink");

  // Add event listener to each button
  footerLinks.forEach(function(button) {
    button.addEventListener('click', footerTopFunction);
  });
</script>
<!-- End Footer -->