<!-- Start Footer -->
{% load static i18n %}

<footer class="bg-jeytun-cyprus" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-lg-3 mb-4 mb-md-0 pt-5">
                <a href="#">
                    <img src="{% static 'img/logo/logo.png' %}" alt="logo" class="" width="130px">
                </a>
                <p class="text-light mt-3">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere perspiciatis culpa itaque voluptatum et, 
                    rem atque oloremque eaque unde!
                </p>
            </div>

            <div class="col-md-7 col-lg-4 mb-4 mb-md-0 pt-5">
                <h3 class="h3 jeytun-yellow pb-3 border-jt-yellow">{% trans 'News' %}</h3>
                {% for news in news_latest_two %}
                <div class="row mt-3">
                    <div class="col col-lg-5 py-1 text-center">
                        <a href="#">
                            <img class="rounded footer-news-img" src="#" alt="#">
                        </a>
                    </div>
                    <div class="col col-lg-7">
                        <a class="text-decoration-none" href="#">#</a>
                        <p class="fs-6 jeytun-green">#/p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-5 col-lg-2 mb-4 mb-md-0 pt-5">
                <h3 class="h3 jeytun-yellow pb-3 border-jt-yellow">{% trans "Maglumat" %}</h3>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">{% trans 'Baş Sahypa' %}</a></li>
                    <li><a class="text-decoration-none" href="#">{% trans 'Biz Barada' %}</a></li>
                    <li><a class="text-decoration-none" href="#">{% trans 'Önümlerimiz' %}</a></li>
                    <li><a class="text-decoration-none" href="#">{% trans 'Täzelikler' %}</a></li>
                    <li><a class="text-decoration-none" href="#">{% trans 'Habarlaşmak' %}</a></li>
                </ul>
            </div>

            <div class="col-md-7 col-lg-3 mb-4 mb-md-0 pt-5">
                <h3 class="h3 jeytun-yellow pb-3 border-jt-yellow">{% trans 'Address' %}</h3>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        {% trans 'Ahal welaýaty, Kaka etrabynyň Kaka şäheriniň Aşgabat-Mary gara ýolunyň 123-nji km' %}
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-light text-decoration-none" href="tel:+993 133 468">+993 133 46886,</a>
                        <a class="text-light text-decoration-none" href="tel:+993 133 468">+993 133 46889,</a>
                        <a class="text-light text-decoration-none" href="tel:+993 133 468">+993 133 46896</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3 mt-2">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-center jeytun-yellow">
                        &copy; {% trans "2023 Kaka etrabyndaky dokma toplumy. Ähli hukuklary goralan" %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->