<!-- Start Footer -->
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="w-100 bg-black mt-3">
<div class="container">
    <footer class="py-3 text-light">
      <p id="footerHeader" class="text-center text-light my-3">Evolve for life.</p>
      <ul class="nav justify-content-center my-3">
        {% for category in categories %}
            <li class="nav-item">
                <a href="{% url 'products:category_list' category_slug=category.slug %}" class="nav-link px-2 footerLink">
                    {% if LANGUAGE_CODE == "tk" %}
                    {{category.name}}
                    {% elif LANGUAGE_CODE == "en" %}
                    {{category.name_en}}
                    {% else %}
                    {{category.name_ru}}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
      </ul>
      <ul class="nav justify-content-center my-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light"><i class="fa-brands fa-tiktok"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
      <p class="text-center text-light">&copy; {% trans "2023 Evvoli Turkmenistan. All rights reserved." %}</p>
    </footer>
  </div>
</div>
<!-- End Footer -->