<!--START TOP NAV with Language Change -->
<header class="navbar navbar-expand-lg d-none d-lg-block bg-jeytun-cyprus">
	<div class="container-xxl">
		<div class="w-100 d-flex justify-content-between">
			<div>
				<i class="fa fa-envelope mx-2 topnav-text"></i>
				<a class="navbar-sm-brand topnav-text" href="mailto:info@company.com">info@company.com</a>
			</div>

			<div>
				<i class="fa fa-phone ms-4 me-2 topnav-text"></i>
				<a class="navbar-sm-brand topnav-text topnav-text-small" href="tel:+993 133 468">+993 133
					46886,</a>
				<a class="navbar-sm-brand topnav-text topnav-text-small" href="tel:+993 133 468">+993 133
					46889,</a>
				<a class="navbar-sm-brand topnav-text topnav-text-small" href="tel:+993 133 468">+993 133
					46896</a>
			</div>
		</div>
	</div>
</header>
<!--END TOP NAV-->