{% load static i18n %}

<div class="row">
    <div class="col-md-6 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">{{category.name}} from Evvoli</p>
        <p class="lead">{{category.description}}</p>
        <a id="link-to-{{category.slug}}" href="" class="btn btn-evvoli-pink btn-lg px-4 me-sm-3"
        hx-get="{% url 'products:category_list' category_slug=category.slug %}" 
        hx-swap="outerHTML" 
        hx-trigger="click delay:1s" 
        hx-target="#main-body"
        hx-push-url="{% url 'products:category_list' category_slug=category.slug %}">{% trans "See More" %}</a>
    </div>
    <div class="col-md-6 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src = {{category.image.url}} width="500" height="500" aria-label="Placeholder: 500x500" alt="{{ category.name }}">
    </div>
</div>
<hr class="featurette-divider">

<script>
    //Get the button
    var catLink = document.getElementById("link-to-{{category.slug}}");

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    // Add event listener to catLink
    if (catLink) {
        catLink.addEventListener('click', topFunction);
    }
</script>