{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="row">
    <div class="col-md-6 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
            {% if LANGUAGE_CODE == "tk" %}
                {{category.name}}. 
                <span class="text-muted">{{category.description|truncatechars:100}}.</span>
            {% elif LANGUAGE_CODE == "en" %}
                {{category.name_en}}. 
                <span class="text-muted">{{category.description_en|truncatechars:100}}.</span>
            {% else %}
                {{category.name_ru}}. 
                <span class="text-muted">{{category.description_ru|truncatechars:100}}.</span>
            {% endif %} 
        </h2>
        <button id="link-to-{{category.slug}}" class="btn btn-evvoli-pink btn-lg px-4 me-sm-3 rounded-5"
        hx-get="{% url 'products:category_list' category_slug=category.slug %}" 
        hx-swap="outerHTML" 
        hx-trigger="click delay:1s" 
        hx-target="#main-body"
        hx-push-url="{% url 'products:category_list' category_slug=category.slug %}">{% trans "See More" %}</button>
    </div>
    <div class="col-md-6 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src = {{category.image.url}} width="500" height="500" aria-label="Placeholder: 500x500" alt="{{ category.name }}">
    </div>
</div>
<hr class="featurette-divider">

<script>
    //Get the button
    var catLink = document.getElementById("link-to-{{category.slug}}");

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

    // Add event listener to catLink
    if (catLink) {
        catLink.addEventListener('click', topFunction);
    }
</script>