{% extends 'base_htmx.html' %}
{% load i18n static %}
{% load django_htmx %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% block title %}{% trans "Cart" %}{% endblock title %}

{% block content %}
<div class="container">
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock content %}