{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "News" %}{% endblock title %}

{% block content %}



<div class="container mt-4 news-detail">
	<article class="clearfix m-2">
		<h2>{{ object.title }}</h2>
		<div class="mb-1 text-muted">{{ object.created_at|date:"d M Y" }}</div>
		<img class="float-lg-start rounded mb-2 me-3 news-image" src="{{ object.image.url }}" alt="{{ object.title }}">
		<p>{{ object.content }}</p>	
	</article>

	<!--prev and next news implementation-->
	<div class="row my-4">
		{% if prev_news and next_news %}
		<div class="d-flex justify-content-between m-2">
			<a href="{{ prev_news.get_absolute_url }}" class="text-decoration-none flex-start news-prev-next-link">
				<i class="fa-solid fa-chevron-left"></i>
				{% trans "Previous news" %}
			</a>
			<a href="{{ next_news.get_absolute_url }}" class="text-decoration-none news-prev-next-link">
				{% trans "Next news" %}
				<i class="fa-solid fa-chevron-right"></i>
			</a>
		</div>
		{% elif prev_news %}
		<div class="d-flex flex-row m-2">
			<a href="{{ prev_news.get_absolute_url }}" class="text-decoration-none flex-start news-prev-next-link">
				<i class="fa-solid fa-chevron-left"></i>
				{% trans "Previous news" %}
			</a>
		</div>
		{% else %}
		<div class="d-flex flex-row-reverse m-2">
			<a href="{{ next_news.get_absolute_url }}" class="text-decoration-none news-prev-next-link">
				{% trans "Next news" %}
				<i class="fa-solid fa-chevron-right"></i>
			</a>
		</div>
		{% endif %}
	</div>
	<!--END of prev and next news implementation-->
</div>


{% endblock content %}