{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "News" %}{% endblock title %}

{% block content %}

<div class="container news-list">
    <h2 class="h2 mt-2">{% trans "News" %}</h2>   
    {% for object in object_list %}
    <div class="row mb-2">
        <div class="col">
            <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative scaleNews">

                <div class="col-auto d-none d-lg-block py-4 align-self-center">
                    <img class="align-middle rounded shadow" src="{{ object.image.url }}" width="200" preserveAspectRatio="xMidYMid slice">
                </div>

                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">{{ object.title }}</h3>
                    <div class="mb-1 text-muted">{{ object.created_at|date:"d M Y" }}</div>
                    <p class="card-text mb-auto">{{ object.content|truncatewords:30 }}</p>
                    <a href="{{ object.get_absolute_url }}" class="text-decoration-none news-detail-link">
                        {% trans "Continue reading" %} 
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}