{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Biz Barada' %}{% endblock title %}

{% block content %}

<section class="bg-jeytun-cyprus py-5">
    <div class="container">
        <a href="" class="text-center d-block">
            <img src="{% static 'img/logo/logo.png' %}" alt="logo" class="self-center" width="130px">
        </a>
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1 jeytun-yellow">{% trans "Kaka Etrabyndaky Dokma Toplumy" %}</h1> 
                <p class="jeytun-yellow">
                    {% trans "Kaka etrabyndaky dokma toplumyny gurmak we maliýeleşdirmek Türkmenistanyň Prezidentiniň “Ahal welaýatynyň Kaka etrabynda dokma toplumyny gurmak hakynda” 2018-nji ýylyň fewral aýynyň 19-daky 673 belgili karary esasynda 2018-nji ýylyň mart aýynda gurluşyga başlanyldy. 2021-nji ýylyň awgust aýynyň 25-ne dokma toplumy işe girizildi." %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-8 pb-5 m-auto">
                <div class="shadow me-auto">
                    <img class="img-fluid rounded shadow" src="{% static 'img/toplum/toplum1.png' %}" alt="{% trans "Kaka Etrabyndaky Dokma Toplumy" %}">
                </div>
            </div>
        </div>
    </div>
    
    {% comment %} <div class="container">
        <div class="row p-5">
            <h1 class="h1">{% trans "Kaka Etrabyndaky Dokma Toplumy" %}</h1> 
            <div class="col-lg-4 mb-0 d-flex align-items-center text-white">
                <div class="text-align-left align-self-center">
                    <p>
                        {% trans "Kaka etrabyndaky dokma toplumyny gurmak we maliýeleşdirmek Türkmenistanyň Prezidentiniň “Ahal welaýatynyň Kaka etrabynda dokma toplumyny gurmak hakynda” 2018-nji ýylyň fewral aýynyň 19-daky 673 belgili karary esasynda 2018-nji ýylyň mart aýynda gurluşyga başlanyldy. 2021-nji ýylyň awgust aýynyň 25-ne dokma toplumy işe girizildi." %}
                    </p>
                    <p>{% trans "Toplum 4 sany - egirme, dokma, boýag we tikin fabriklerden ybaratdyr." %}</p>
                    </div>
            </div>
            <div class="mx-auto col-md-8 col-lg-8 order-lg-last">
                <img class="img-fluid" src="{% static 'img/toplum/toplum1.png' %}" alt="{% trans "Kaka Etrabyndaky Dokma Toplumy" %}">
            </div>
        </div>
    </div> {% endcomment %}
</section>

<section class="container py-5">
    <div class="container">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h2 class="h2 jeytun-yellow">{% trans "Egirme fabrigi" %}</h2>
                <p>
                    {% trans "Toplumynyň egirme fabriginde öndürilýän nah we garyşyk ýüplükleriň önümçilik kuwwatlygy bir ýylda 3 650 tonna öndürmek mümkinçiligi bar." %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-8 pb-5 m-auto">
                <div class="shadow">
                    <img class="img-fluid rounded shadow" src="{% static 'img/toplum/toplum2.png' %}" alt="{% trans "Egirme fabrigi" %}">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-jeytun-light">
    <div class="container">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h2 class="h2 jeytun-yellow">{% trans "Dokama fabrigi" %}</h2>
                <p>
                    {% trans "Dokma fabriginde önümçilik kuwwatlygy bir ýylda 12 000 müň inedördül metr matalaryny öndürmek: kreton, ranforse, gabardin, ýüplügi boýalan matalar, köýneklik matalar, jalbarlyk matalary öndürilýär." %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-8 pb-5 m-auto">
                <div class="shadow">
                    <img class="img-fluid rounded shadow" src="{% static 'img/toplum/toplum3.jpg' %}" alt="{% trans "Dokma fabrigi" %}">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h2 class="h2 jeytun-yellow">{% trans "Boýag fabrigi" %}</h2>
                <p>
                    {% trans "Boýag fabrigi önümçilik kuwwatlygy- bir ýylda 10 000 müň inedördül metr dokma matalaryny boýamak." %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-8 pb-5 m-auto">
                <div class="shadow">
                    <img class="img-fluid rounded shadow" src="{% static 'img/toplum/toplum4.jpg' %}" alt="{% trans "Boýag fabrigi" %}">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-5 bg-jeytun-light">
    <div class="container">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h2 class="h2 jeytun-yellow">{% trans "Tikin fabrigi" %}</h2>
                <p>
                    {% trans "Toplumyň tikin fabriginiň önümçilik kuwwatlygy – bir ýylda 1 200 müň sany taýýar tikin önümleri öndürilip, olar erkekler üçin köýnek, jalbar, ýyladylan we ýuka kurtka, ýeňsiz we ş.m. önümler öndürilýär." %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-8 pb-5 m-auto">
                <div class="shadow">
                    <img class="img-fluid rounded shadow" src="{% static 'img/toplum/toplum5.jpg' %}" alt="{% trans "Tikin fabrigi" %}">
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}