{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Evvoli| TM {% block title %}{% endblock title %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/icons/evvoli-favicon.png' %}">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/roboto/stylesheet.css' %}" type="text/css">

    {% block third_party_css %}{% endblock third_party_css %}

    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/trial_custom.css' %}" type="text/css">

    <script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>

    {% block css %}{% endblock css %}
</head>

<body class="mx-auto px-0">

    <div id="overlay"></div>

    {% include "includes/navbar_htmx.html" %}

    <div id="main-body" class="mx-auto px-0">
        {% block content %}{% endblock content %}
    </div>

    {% include "includes/footer_old.html" %}

    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
        var navbar = document.querySelector('#navBar');
        var overlay = document.querySelector('#overlay');

        navbar.addEventListener('mouseover', function() {
            overlay.style.opacity = '1';
            overlay.style.pointerEvents = 'auto'; // Make the overlay clickable again
        });

        navbar.addEventListener('mouseout', function() {
            overlay.style.opacity = '0';
            setTimeout(function() { // This will delay the pointer-events update until the transition is complete
                overlay.style.pointerEvents = 'none';
            }, 500); // The delay should be equal to the transition duration
        });
    </script>

    {% block js %}{% endblock js %}
</body>

</html>