{% extends 'base.html' %}
{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


{% block title %}{% trans "Baş Sahypa" %}{% endblock title %}




{% block content %}

<!--Carousel-->
<section id="myCarousel" class="carousel slide px-0" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item  active">
			<img class="bd-placeholder-img" src="{% static 'img/carousel/new_ac_evvoli.jpg' %}" width="100%" aria-hidden="true"  alt="YO man">

			<div class="container">
				<div class="carousel-caption text-start">
					{% comment %} <h1>Another example headline.</h1> {% endcomment %}
					{% comment %} <p><a class="btn btn-lg btn-primary" href="#">Evvoli ACs</a></p> {% endcomment %}
					<button type="button" class="btn h1 evvoli-bg-purple btn-lg px-5 rounded-4 text-light">Evvoli ACs</button>
				</div>
			</div>
		</div>

		<div class="carousel-item">
		
			<img class="bd-placeholder-img" src="{% static 'img/carousel/new_tv_evvoli.jpg' %}" width="100%" aria-hidden="true"  alt="YO man">

			<div class="container">
				<div class="carousel-caption text-start">
					{% comment %} <h1>Example headline.</h1> {% endcomment %}
					{% comment %} <p><a class="btn btn-lg btn-primary">Evvoli TVs</a></p> {% endcomment %}
					<button type="button" class="btn h1 evvoli-bg-pink btn-lg px-5 rounded-4 text-light">Evvoli TVs</button>
				</div>
			</div>
		</div>

		<div class="carousel-item">
			<div class="carousel-imageMiddle-container">
				<img src="{% static 'img/carousel/new_wm_evvoli.png' %}" alt="YO man">
			</div>

			<div class="container">
				<div class="carousel-caption text-end">
					{% comment %} <h1>One more for good measure.</h1> {% endcomment %}
					{% comment %} <p><a class="btn btn-lg btn-primary" href="#">Evvoli WMs</a></p> {% endcomment %}
					
					<button type="button" class="btn h1 evvoli-bg-orange btn-lg px-5 rounded-4 text-light">Evvoli WMs</button>
				</div>
				
			</div>
		</div>
		
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</section>
<!-- END Carousel -->


<!-- Start Banner Hero -->
<div class="container px-4 pt-5 my-5 text-center">
	<h1 class="display-4 fw-bold">{% trans "evvoli is..." %}</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">
			{% blocktrans %}
			a consumer electronics brand that blends human-centric technology and neo-modern designs with excellent value. Our diversified range of electronics and technology products will inspire you to evolve for life.
			{% endblocktrans %}
		</p>
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
			<button type="button" class="btn btn-evvoli-pink btn-lg px-4 me-sm-3 rounded-5">{% trans "Read more" %}</button>
			<button type="button" class="btn btn-evvoli-orange  btn-lg px-4 rounded-5 indexLink"
				hx-get="{% url 'products:about' %}"
				hx-swap="innerHTML" 
				hx-trigger="click delay:500ms" 
				hx-target="#main-body"
				hx-throttle="1s"
				hx-push-url="{% url 'products:about' %}"
				hx-indicator="#spinner">
					{% trans "Contact us" %}
			</button>
		</div>
	</div>
	<div class="overflow-hidden" style="max-height: 40vh;">
		<div class="container px-5">
			<img src="{% static 'img/home/hero_image.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
		</div>
	</div>
	<hr class="featurette-divider">
</div>
<!--End Banner Hero -->


<!-- Categories -->
<div id="category-list-wrapper" class="container">
	<div class="row justify-content-center">
        <div class="col-lg-10">
			{% include "includes/category_list_elements.html" %}
        </div>
    </div>
</div>
<!-- End of Categories  -->

<script>
	// Function to scroll to the top of the document
	function indexTopFunction() {
	  document.body.scrollTop = 0; // For Safari
	  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
	}
  
	// Get all the buttons with the class 'footerLink'
	var indexLinks = document.querySelectorAll(".indexLink");
  
	// Add event listener to each button
	indexLinks.forEach(function(button) {
	  button.addEventListener('click', indexTopFunction);
	});
</script>

{% endblock content %}