{% extends 'base_htmx.html' %}
{% load static i18n %}


{% block title %}{% trans "Baş Sahypa" %}{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}


<!--Carousel-->
<section id="myCarousel" class="carousel slide container-xxl px-0" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
				<rect width="100%" height="100%" fill="#777" /></svg>

			<div class="container">
				<div class="carousel-caption text-start">
					<h1>Example headline.</h1>
					<p>Some representative placeholder content for the first slide of the carousel.</p>
					<p><a class="btn btn-lg btn-primary">Sign up today</a></p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
				<rect width="100%" height="100%" fill="#777" /></svg>

			<div class="container">
				<div class="carousel-caption">
					<h1>Another example headline.</h1>
					<p>Some representative placeholder content for the second slide of the carousel.</p>
					<p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
				<rect width="100%" height="100%" fill="#777" /></svg>

			<div class="container">
				<div class="carousel-caption text-end">
					<h1>One more for good measure.</h1>
					<p>Some representative placeholder content for the third slide of this carousel.</p>
					<p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
				</div>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</section>
<!-- END Carousel -->


<!-- Start Banner Hero -->
<div class="container px-4 pt-5 my-5 text-center">
	<h1 class="display-4 fw-bold">{% trans "evvoli is..." %}</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">
			{% trans "a consumer electronics brand that blends human-centric technology and neo-modern designs with excellent value. Our diversified range of electronics and technology products will inspire you to evolve for life." %}
		</p>
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
			<button type="button" class="btn btn-evvoli-pink btn-lg px-4 me-sm-3 rounded-5">{% trans "Read more" %}</button>
			<button type="button" class="btn btn-evvoli-orange  btn-lg px-4 rounded-5">{% trans "Contact us" %}</button>
		</div>
	</div>
	<div class="overflow-hidden" style="max-height: 40vh;">
		<div class="container px-5">
			<img src="{% static 'img/home/hero_image.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
		</div>
	</div>
	<hr class="featurette-divider">
</div>
<!--End Banner Hero -->


<!-- Categories -->
<div id="category-list-wrapper">
	{% include "includes/category_list_elements_htmx.html" %}
</div>
<!-- End of Categories  -->




{% endblock content %}