{% extends 'base.html' %}
{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% block title %}{% trans "Cart" %}{% endblock title %}

{% block content %}
<main class="container">
	<div class="py-5 text-center">
		<h2>{% trans "Your Shopping Cart" %}</h2>
		<p class="lead">
            {% blocktrans %}
            Kindly review the items in your basket and proceed to checkout at your earliest convenience. You may also adjust the quantity of your selected products as needed.
            {% endblocktrans %}
		</p>
	</div>

	<div class="row g-5">

		<!--Cart Checkout Details -->
		<div id="cart-checkout-details" class="col-md-5 col-lg-4 order-md-last"
        hx-get="{% url "orders:cart_checkout_details" %}" 
        hx-swap="outerHTML" 
        hx-trigger="click" 
        hx-throttle="1s"
        hx-target="#cart-checkout-details">
			<h4 id="cart-detail-h4" class="d-flex justify-content-between align-items-center mb-3">
				{% trans "Cart Details" %}
			</h4>
			<ul class="list-group mb-3">
				{% for item in cart.cart_items.all %}
				<li id="detail-li-{{item.product.id}}" class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0 pointer-cursor"
                        hx-get="{% url "products:product_detail" category_slug=item.product.category.slug slug=item.product.slug %}"
                        hx-swap="innerHTML" 
                        hx-trigger="click delay:0.5s"
                        hx-throttle="1s"
                        hx-target="#main-body"
                        hx-push-url="{% url "products:product_detail" category_slug=item.product.category.slug slug=item.product.slug %}">
                            {% if LANGUAGE_CODE == "tk" %}
                            {{item.product.title}}
                            {% elif LANGUAGE_CODE == "en" %}
                            {{item.product.title_en}}
                            {% else %}
                            {{item.product.title_ru}}
                            {% endif %}
                        </h6>
                        <p class="my-0"><small class="text-muted">{% trans "Model" %}: {{ item.product.model }}</small></p>
						<small id="detail-qty-{{item.product.id}}" class="text-muted">{% trans "Quantity" %}: {{ item.quantity }}</small>
					</div>
					<span id="detail-subtotal-{{item.product.id}}" class="text-muted">{{item.sub_total}} m.</span>
				</li>
                {% endfor %}
				<li class="list-group-item d-flex justify-content-between">
					<span>{% trans "TOTAL" %}</span>
					<strong id="detail-total-{{item.product.id}}">{{ cart.total_price }} m.</strong>
				</li>
			</ul>
            <button class="btn evvoli-btn-primary w-100 rounded-5"
            hx-get="{% url "orders:order" %}" 
            hx-trigger="click"
            hx-throttle="1s" 
            hx-target="#main-body" 
            hx-swap="innerHTML"
            hx-push-url="{% url 'orders:order' %}">
                {% trans "Proceed to Checkout" %}
            </button>
		</div>
		<!--Cart Checkout Details -->

        <!--Cart Products and their Image List -->
		<div class="col-md-7 col-lg-8">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="evvoli-purple">{% trans "Your Cart" %}</span>
				<span id="cartTotalQty" class="badge evvoli-bg-purple rounded-pill">{{ cart.total_quantity }}</span>
			</h4>
			<ul class="list-group mb-3">
				{% for item in cart.cart_items.all %}
				<li id="li-{{item.product.id}}" class="list-group-item d-flex justify-content-between lh-sm">

					{% with product=item.product %}
					<div class="col-9 card mb-3 border-0 product-item" data-index="{{product.id}}">
						<div class="row g-0">
							<div class="col-md-6 col-lg-4">
								<img class="img-fluid pointer-cursor" src="{{ product.thumbnail.url }}" 
                                alt="{{ product.title }}"
                                hx-get="{% url "products:product_detail" category_slug=item.product.category.slug slug=item.product.slug %}"
                                hx-swap="innerHTML" 
                                hx-trigger="click delay:0.5s"
                                hx-throttle="1s"
                                hx-target="#main-body"
                                hx-push-url="{% url "products:product_detail" category_slug=item.product.category.slug slug=item.product.slug %}">
							</div>
							<div class="col-md-6 col-lg-8 ps-md-3 ">

								<div class="card-body p-1">
                                    <a class="text-decoration-none text-reset pointer-cursor"
                                    hx-get="{% url "products:product_detail" category_slug=item.product.category.slug slug=item.product.slug %}"
                                    hx-swap="innerHTML" 
                                    hx-trigger="click delay:0.5s"
                                    hx-throttle="1s"
                                    hx-target="#main-body"
                                    hx-push-url="{% url "products:product_detail" category_slug=item.product.category.slug slug=item.product.slug %}">
                                        <p class="my-0 card-text pb-3">
                                            {% if LANGUAGE_CODE == "tk" %}
                                            {{item.product.title}}
                                            {% elif LANGUAGE_CODE == "en" %}
                                            {{item.product.title_en}}
                                            {% else %}
                                            {{item.product.title_ru}}
                                            {% endif %}
                                        </p>
                                        <p><small class="text-muted">{% trans "Model" %}: {{ item.product.model }}</small></p>
                                    </a>
									<div id="" class="d-flex col-lg-6 align-items-center justify-content-around btn-evvoli-pink rounded-5">
										<p id="minus-btn-{{product.id}}" class="minusBtn my-2 pointer-cursor" data-url='{% url "orders:remove_from_cart" slug=product.slug %}'>
                                            <i class="fa-solid fa-minus"></i>
                                        </p>
										<p id="product-qty-{{product.id}}" class="productQty my-2">{{ item.quantity }}</p>
										<p id="plus-btn-{{product.id}}" class="plusBtn my-2 pointer-cursor" data-url='{% url "orders:add_to_cart" slug=product.slug %}'>
                                            <i class="fa-solid fa-plus"></i>
                                        </p>
									</div>
								</div>

							</div>
						</div>
					</div>

					<p class="col-3 text-end">
						<span class="text-muted">{{product.sale_price}}</span>
						{% if product.on_sale %}
						<del class="text-muted">{{product.price}}</del>
						{% endif %}
						<span class="text-muted">m.</span>
					</p>

					{% endwith %}
				</li>
				{% endfor %}
            </ul>    
		</div>
		<!--END of Cart Products and their Image List -->

	</div>
</main>
{% endblock content %}

{% block js %}
<script>

    const csrfCartToken = '{{ csrf_token }}';
    const navCartQty = document.querySelector('#cart-qty');
    const cartTotalQty = document.querySelector("#cartTotalQty");

    // Get all plus and minus buttons
    const minusButtons = document.querySelectorAll('.minusBtn');
    const plusButtons = document.querySelectorAll('.plusBtn');

    

    var isClickAllowedCart = true;
    function preventClicksTemporarilyCart() {
        isClickAllowedCart = false;
        setTimeout(() => {
            isClickAllowedCart = true;
        }, 1000);
    }

    function cartDetailsUpdate() {
        var url = "{% url 'orders:cart_checkout_details' %}"
        var cartDetailId = "#cart-checkout-details"
        var cartDetail = document.querySelector(cartDetailId)

        if (cartDetail) {
            // triggers the myEvent event on #tab2 with the answer 42
            htmx.trigger(cartDetailId, "click")
        }
    }

    const updateNavCartInCart = (element, qty) => {
        element.textContent = qty;
    };

    const updateDisplayCart = (element, qty) => {
        if (qty > 0) {
            element.textContent = qty
        };
    };

    const removeProductFromDisplay = (element, qty) => {
        if (qty == 0) {
            element.remove();
        };
    };

    // Add event listeners to all minus buttons
    minusButtons.forEach((button) => {
        button.addEventListener('click', async (event) => {
            event.preventDefault();
            const productId = button.id.split('minus-btn-')[1];
            const productQtyId = `product-qty-${productId}`
            const liProduct = document.querySelector(`#li-${productId}`)
            const pProductQty = document.querySelector(`#${productQtyId}`)
            const currentQuantity = parseInt(pProductQty.textContent);
            const url = button.dataset.url;

            if (!isClickAllowedCart) return;
            preventClicksTemporarilyCart();

            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfCartToken
                    }
                });
                if(response.ok) {
                    const jsonData = await response.json();
                    updateDisplayCart(pProductQty, jsonData.productQty);
                    removeProductFromDisplay(liProduct, jsonData.productQty);
                    updateNavCartInCart(cartTotalQty, jsonData.cartQty);
                    updateNavCartInCart(navCartQty, jsonData.cartQty);
                    cartDetailsUpdate();
                } else {
                    console.error('Failed to add item to cart');
                }
            } catch (error) {
                console.error('Failed to connect to server', error);
            }
        });
    });
    
    // Add event listeners to all plus buttons
    plusButtons.forEach((button) => {
        button.addEventListener('click', async (event) => {
            event.preventDefault();
            const productId = button.id.split('plus-btn-')[1];
            const productQtyId = `product-qty-${productId}`
            const liProduct = document.querySelector(`#li-${productId}`)
            const pProductQty = document.querySelector(`#${productQtyId}`)
            const currentQuantity = parseInt(pProductQty.textContent);
            const url = button.dataset.url;

            if (!isClickAllowedCart) return;
            preventClicksTemporarilyCart();

            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfCartToken
                    }
                });
                if(response.ok) {
                    const jsonData = await response.json();
                    updateDisplayCart(pProductQty, jsonData.productQty);
                    updateNavCartInCart(cartTotalQty, jsonData.cartQty);
                    updateNavCartInCart(navCartQty, jsonData.cartQty);
                    cartDetailsUpdate();
                } else {
                    console.error('Failed to add item to cart');
                }
            } catch (error) {
                console.error('Failed to connect to server', error);
            }
        });
    });
    
    
	console.log("END CART")
</script>
{% endblock js %}

