{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<main class="container">
	<div class="py-5 text-center">
		<h2>Checkout form</h2>
		<p class="lead">
			Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
		</p>
	</div>

	<div class="row g-5">

		<!--Cart Price and Quantity -->
		<div class="col-md-5 col-lg-4 order-md-last">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				Cart Details
			</h4>
			<ul class="list-group mb-3">
				{% for item in cart.cart_items.all %}
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-0">{{item.product.title}}</h6>
						<small class="text-muted">{% trans "Quantity" %}: {{ item.quantity }}</small>
					</div>
					<span class="text-muted">{{item.sub_total}} m.</span>
				</li>
                {% endfor %}
				<li class="list-group-item d-flex justify-content-between">
					<span>TOTAL</span>
					<strong>{{ cart.total_price }} m.</strong>
				</li>
			</ul>
		</div>
		<!--END of Cart Price and Quantity --

      <!--Cart Products and their Image List -->
		<div class="col-md-7 col-lg-8">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-primary">{% trans "Your Cart" %}</span>
				<span class="badge bg-primary rounded-pill">{{ cart.total_quantity }}</span>
			</h4>
			<ul class="list-group mb-3">
				{% for item in cart.cart_items.all %}
				<li class="list-group-item d-flex justify-content-between lh-sm">

					{% with product=item.product %}
					<div class="col-9 card mb-3 border-0 product-item" data-index="{{product.id}}">
						<div class="row g-0">

							<div class="col-md-6 col-lg-4">
								<img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}" alt="{{ product.title }}">
							</div>

							<div class="col-md-6 col-lg-8 ps-md-3 ">
								<div class="card-body p-1">
									<a class="text-decoration-none text-reset" href="{{item.product.get_absolute_url}}">
										<p class="card-text pb-3">{{product.title}}</p>
									</a>
									<div id="" class="d-flex col-lg-6 align-items-center justify-content-around btn-evvoli-pink rounded">
										<p id="minus-btn" class="my-2 pointer-cursor" data-url='{% url "orders:remove_from_cart" slug=product.slug %}'><i class="fa-solid fa-minus"></i></p>
										<p id="product-qty" class="my-2">{{ item.quantity }}</p>
										<p id="plus-btn" class="my-2 pointer-cursor" data-url='{% url "orders:add_to_cart" slug=product.slug %}'><i class="fa-solid fa-plus"></i></p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<p class="col-3 text-end">
						<span class="text-muted">{{product.sale_price}}</span>
						{% if product.on_sale %}
						<del class="text-muted">{{product.price}}</del>
						{% endif %}
						<span class="text-muted">m.</span>
					</p>

					{% endwith %}
				</li>
				{% endfor %}
		</div>
		<!--END of Cart Products and their Image List -->

	</div>
</main>

{% block js %}
<script type="text/javascript">
	var csrfToken = '{{ csrf_token }}';
	console.log("yo man")
</script>
{% endblock js %}