{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Önümlerimiz" %}{% endblock title %}


{% block content %}
{% load i18n static %}

<div class="container mt-4 g-5">
	<div class="row">
		<div class="col-md-5 col-lg-4 order-md-last">
			<h2 class="d-flex justify-content-between align-items-center mb-3">
				<span>{% trans "General Information" %}</span>
			</h2>
			<ul class="list-group mb-3">
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h5><i class="fas fa-map-marker-alt fa-fw"></i>{% trans "Address" %}</h5>
						{% trans 'Ahal welaýaty, Kaka etrabynyň Kaka şäheriniň Aşgabat-Mary gara ýolunyň 123-nji km' %}
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h5><i class="fa fa-phone fa-fw"></i>{% trans "Phone numbers" %}</h5>
						<a class="text-decoration-none d-block hover-jeytun-yellow" href="tel:+993 133 468">+993 133 46886</a>
						<a class="text-decoration-none d-block hover-jeytun-yellow" href="tel:+993 133 468">+993 133 46889</a>
						<a class="text-decoration-none d-block hover-jeytun-yellow" href="tel:+993 133 468">+993 133 46896</a>
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h5><i class="fa fa-envelope fa-fw"></i>{% trans "Email address" %}</h5>
						<a class="text-decoration-none hover-jeytun-yellow" href="mailto:info@company.com">info@company.com</a>
					</div>
				</li>
			</ul>
		</div>

		<div class="col-md-7 col-lg-8 mb-3">
			<h2 class="mb-3">{% trans "Contact us" %}</h2>
			<form method="post">
				{% csrf_token %}
				<div class="d-grid gap-2">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="btn btn-jeytun">{% trans "Submit" %}</button>
				</div>		
			</form>
		</div>
	</div>
</div>


{% endblock content %}